.idea
.instances.ttl
.manual.ttl
.schema.ttl
log
results
artifacts
*.log
/IDSInformationModelAll.ttl
/catalog-v001.xml
*.project
model/content/.DS_Store
model/governance/.DS_Store
model/.DS_Store
model/.DS_Store
.DS_Store
model/.DS_Store
model/.DS_Store
