.idea
.instances.ttl
.manual.ttl
.schema.ttl
log
results
artifacts
*.log
/IDSInformationModelAll.ttl
/catalog-v001.xml
*.project
**/copies
**/.metadata
docs/4.1.0/sections/__pycache__/t.cpython-38.pyc
references/.DS_Store
.DS_Store
