# Copy this file to Makefile.vars, adapt the paths and URLs. Contents are imported by Makefile on execution. 
JENA = <path to the "bin" directory of your Apache Jena installation>
SHACL = <path to the "bin" directory of your TopQuadrant SHACL installation>
CONNECTOR = <URL of the IDS Connector whose self-description is to be validated>